# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Database
*.db

# Machine Learning Models
*.pkl

# Node.js
node_modules/

# Frontend Build
dist/
build/

# VS Code Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db
# Flask instance files
instance/
